body {
background: #F0F0F0;
	    font-family: 'Century Gothic', Arial, Sans-Serif;
	    font-size: 18px;
margin:0px;
}

body.info {
background: #F0F0F0;
	    font-family: 'Century Gothic', Arial, Sans-Serif;
	    font-size: 14px;
}

#ranking {
width:100%;
      border-collapse:collapse;
}

#ranking td, #ranking th {
	font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
}

#ranking th {
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#71B3E0;
        color:#ffffff;
}

#ranking tr.alt td {
color:#000000;
      background-color:#DAEDFA;
}

#dlist ul {
	list-style-type:square
}

li.dlist_entry {
	font-weight: bold;
}

li.dlist_name {
	font-weight: normal;
}

h1.info {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Century Gothic', Arial, Sans-Serif;
}

