.audioUnMute {
	position:relative;
	left: -50px !important;
}
.audioMute {
	position:relative;
	left: -50px !important;
}
#score {
	left: 600px !important;
	width:200px !important;
}
.arrow-mid {
	height:40px !important;
	top: 10px !important;
}
