#login_box {
	padding-top:10px !important;
	padding-bottom:10px !important;
}

#login_box span {
	color:black !important;
}

#login_box div {
	position:relative;
	display:block;
	float: none !important
}

#login_box input {
	border: 1px solid #d1d2d3;
	font-size: 20px;
	width: 375px;
	
}

#login-button div {
	display:inline-block;
	border:1px solid orange;
	color: orange;
}

#login-button div:hover {
	color:white !important;
	background-color:orange !important;
}

#loginButtons {
	margin-top:10px;
}

#login-register {
	float:right;
	right:0px;
}

input:hover, input:focus {
	border: 1px solid #fafafa;
	-webkit-box-shadow: 0px 0px 6px #007eff; 
	-moz-box-shadow: 0px 0px 6px #007eff; 
	-o-box-shadow: 0px 0px 6px #007eff; 
	-khtml-box-shadow: 0px 0px 6px #007eff; 
	-ms-box-shadow: 0px 0px 6px #007eff; 
	box-shadow: 0px 0px 6px #007eff; 
}
