nav.mobMenu{position:absolute}
img.mobImg{position:relative;top:-16em;height:10em;width:16em;z-index:1;left:2em}
a.mobNav{z-index:10;position:relative;font-size:200%;height:1em;width:3.5em;display:block;text-align:center;margin:.4em;padding:.25em}
#mobBack{position:absolute;z-index:1;height:2em;font-size:2em;bottom:0;left:0;width:100%;background-color:#36F;color:#FFF}
#back{font-size:90%;position:relative}
