body{background-image:url(http://phylo.alfredkam.com/img/triangles.png);background-repeat:repeat;font-family:century gothic;color:#FFF;z-index:0;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;margin:0;padding:0}
nav.menu{border-bottom-style:solid;position:absolute;width:100%;top:1.1em;height:1.5em;border-width:1px;margin:0}
.desktopLog{position:relative;font-size:130%;top:-.5em}
a.nav{position:relative;top:.3em;height:1em;width:4em;padding-right:2.5em;left:1em;display:inline}
a#log{position:absolute;right:2em}
pre.navBorder{position:absolute;top:-1.6em;height:.5em;width:4em;display:inline;margin:0;padding:0}
p.navContent{position:relative;height:.5em;width:4em;top:-.5em;text-align:center;display:inline;font-size:130%;margin:0;padding:0}
.underline{text-decoration:underline}
select{font:normal 13px Arial, SansSerif, Verdana;color:#000}
select.lang{color:#000;background:#FFF;background-color:#FFF;font-size:80%;position:relative;border-width:4px}
a:link,a:-webkit-any-link{text-decoration:none;color:#FFF}
a:active,a:hover,a:visited{text-decoration:none}


