pre.tabletNavBorder{position:absolute;top:-.6em;height:.5em;width:4em;display:inline;margin:0;padding:0}
nav.tabletMenu{border-bottom-style:solid;position:absolute;width:100%;top:.5em;height:2.4em;border-width:1px;margin:0}
a.tabletNav{position:relative;top:.3em;height:1em;width:4em;padding-right:2.5em;left:1em;font-size:150%;display:inline}
p.tabletNavContent{position:relative;height:.5em;width:4em;text-align:center;display:inline;margin:0;padding:0}
